/* stylelint-disable max-line-length */

@font-face {
  font-family: QantasSans-Bold;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/QantasSans-Bold.woff2') format('woff2');
}
@font-face {
  font-family: QantasSans-BoldItalic;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/QantasSans-BoldItalic.woff2') format('woff2');
}
@font-face {
  font-family: QantasSans-Medium;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/QantasSans-Medium.woff2') format('woff2');
}
@font-face {
  font-family: QantasSans-MediumItalic;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/QantasSans-MediumItalic.woff2') format('woff2');
}
@font-face {
  font-family: QantasSans-Regular;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/QantasSans-Regular.woff2') format('woff2');
}
@font-face {
  font-family: QantasSans-RegularItalic;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/QantasSans-RegularItalic.woff2') format('woff2');
}
@font-face {
  font-family: QantasSans-Light;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/QantasSans-Light.woff2') format('woff2');
}
@font-face {
  font-family: QantasSans-LightItalic;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/QantasSans-LightItalic.woff2') format('woff2');
}